@import 'tailwindcss';
@import 'tailwindcss-safe-area';
@plugin 'tailwindcss-primeui';
@source "../../../node_modules/@camera.ui/nvr/dist";
@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant light (&:where(.light-mode, .light-mode *));
@theme {
  --breakpoint-xs: 450px;
  --font-sans: InterVariable, sans-serif;
  --default-font-feature-settings: 'liga' 1, 'calt' 1, 'cv06' 1, 'cv11' 1;
}
@layer base {
  body {
    font-weight: 500;
  }
}
@layer utilities {
  .w-fill {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
  }
  .h-fill {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
  }
}
